[Unit]
Description=Start Mosquitto, Flask App, and open Chromium
After=network.target

[Service]
Type=oneshot
ExecStart=/home/user/IOT-SensorTB/scrip/start_services.sh
# Environment=DISPLAY=:0
# Environment=XAUTHORITY=/home/tbl/.Xauthority
Restart=on-failure
RemainAfterExit=yes
User=tbl
WorkingDirectory=/home/user/IOT-SensorTB

[Install]
WantedBy=multi-user.target
WantedBy=graphical.target